@import "tailwindcss";

:root {
  --background: #c7efff;
  --foreground: #c8e8fe;
  --font-hanuman: var(--font-hanuman);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-hanuman: var(--font-hanuman);
  --font-italianno: var(--font-italianno);
  --color-title: #0009BB;

  --color-nav: #81c2ee;
  --color-search: rgba(255,255,255,1);
  
  --color-nav-hover: #8cd1ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c7efff;
    --foreground: #81c2ee;
  }
}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-hanuman);
  min-height: 100%;
  overflow-x: hidden;
}

/* Customize scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.main-container { 
  overscroll-behavior-y: contain; /* Or 'none' */
}
/* Bounce effect */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.bounce {
  animation: bounce 0.3s ease-in-out;
}