@import "tailwindcss";

:root {
  --background: #FEE7C8;
  --foreground: #FEE7C8;
  --font-hanuman: var(--font-hanuman);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-hanuman: var(--font-hanuman);
  --font-italianno: var(--font-italianno);
  --color-title: #0009bb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEE7C8;
    --foreground: #FEE7C8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hanuman);
}
