@import "tailwindcss";

:root {
  --background: #c7efff;
  --foreground: #c8e8fe;
  --font-hanuman: var(--font-hanuman);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-hanuman: var(--font-hanuman);
  --font-italianno: var(--font-italianno);
  --color-title: #0009BB;

  --color-nav: #81c2ee;
  --color-search: rgba(255,255,255,1);

  
  --color-nav-hover: #d4c0a7;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c7efff;
    --foreground: #81c2ee;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-hanuman);
}

.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}